#center{
    text-align: center;
    background-color:black;
}

#address{
    width:300px;
}

Body{
    background-color: black;
}

footer{
text-align: center;
}

.container{
    color: red;
}

#directionsPic{
    margin-left:350px;
    height:200px;
    width:400px;
}

/* #jumboPic{
    height:400px ;
    width:500px;
   
} */

#directions-list{
    color:white;
}

.jumbotron{
    background-color: blue;
     background-image: url(./images/map-pic.jpg);
     background-size:cover;
     height:400px;
}

.container{
    background-color:black;
}

#firstAddress{
    background:blue;
    font-family: bold;
    color:white;
}


#secondAddress{
    background:blue;
    font-family: bold;
    color:white;
}